.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.loader-sm {
    padding: 1rem;
}

.loader-lg {
    padding: 3rem;
}

.loader-spinner {
    width: 50px;
    height: 50px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #667eea;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loader-sm .loader-spinner {
    width: 30px;
    height: 30px;
    border-width: 3px;
}

.loader-lg .loader-spinner {
    width: 70px;
    height: 70px;
    border-width: 5px;
}

.loader-text {
    margin-top: 1rem;
    color: #666;
    font-size: 0.95rem;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
